{% extends 'moneybook/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



{% block content %}
<div class="jumbotron">
<div class = "container" style="margin:3rem;">

    <div class="done">
    <h3 class="form-signin-heading">ユーザー詳細情報</h3>
	<hr class="colorgraph"><br>
        <label>メールアドレス</label>
        <p>{{ user.email }}</p><br>
        <label>ユーザー名</label>
        <p>{{ user.user_name }}</p>
        <a class="btn btn-info col-sm-3" href="{% url 'accounts:user_update' user.pk %}" role="button">更新</a>
        
	</div>
</div>
</div>
<style>
.jumbotron {
    background:url(../static/img/background.jpg) center no-repeat; 
    background-size: cover;
    height: 100vh;
    }
label {
 font-weight: bold;
}
a {
 margin-top: 2rem;
}
</style>

{% endblock content %}