{% extends 'moneybook/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



{% block content %}
<div class="jumbotron">
<div class = "container" style='margin:3rem;'>

    <div class="done">
    <h3 class="form-signin-heading">ユーザー詳細情報</h3>
	<hr class="colorgraph"><br>
    <form action="" method="POST">
        {{ form.non_field_errors }}
        <table class="table">
            <tbody>
                {% for field in form %}
                    <tr>
                        <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                        <td>{{ field }} {{ field.errors }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg" >送信</button>
    </form>
	</div>
</div>
</div>
<style>
.jumbotron {
    background:url(../static/img/background.jpg) center no-repeat; 
    background-size: cover;
    height: 100vh;
    }
</style>
{% endblock content %}