{% extends 'moneybook/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}分析{% endblock %}

{% block content %}
<div class="container" style='margin:3.5rem; text-align: center;'>
    <div class="chart_container">
        <canvas id='PieChart' style= "height:70vh; width:70vw;"></canvas>
    </div>
    <div class="container-fluid analysis_cate" style='margin:3rem;'>
    <div style='font-size: 1.2rem;'>
    <p>支出：￥{{total}}</p>
    {% for item, s_category_total in s_category_num.items %}
    <p>{{item}}：￥{{s_category_total}}</p>
    {% endfor %}
    </div>
    </div>
    </div>
    <style>
        .chart_container {
          width: 640px;
          margin: auto;
        }
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var ctx = document.getElementById('PieChart').getContext('2d');
    var data = [
                     [
                      {% for key, value in s_category_ratio.items %}
                       '{{key}}',
                      {% endfor %}
                     ],
                    
                     [
                     {% for key, value in s_category_ratio.items %}
                        {{value}},
                     {% endfor %}
                     ]]
        var PieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
        labels: data[0],
        datasets: [{
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
            ],
            data: data[1]
        }]
        },
        options: {
        responsive: false,
        title: {
           display: true,         // 表示設定
           pocision: "top",       // 表示位置
           fontSize: 30,          // フォントサイズ
           fontColor: "black",    // 文字の色
           text: "カテゴリの割合" // タイトル文字列
         },
        }
        });
    </script>
</div>
{% endblock content %}