{% extends 'moneybook/base.html' %}
{% load static %}

{% block title %}入力画面{% endblock %}

{% block content %}
<body>
<div class="container-fluid">
<!--タブ部分-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#spending" data-toggle="tab" class="nav-link active">支出</a>
  </li>
  <li class="nav-item">
    <a href="#income" data-toggle="tab" class="nav-link">収入</a>
  </li>
</ul>
<!--内容部分-->
<div class="tab-content">
  <!--支出-->
    <div id="spending" class="tab-pane active">
      <form action=" " method="POST">
        <h1 class="title">支出を入力</h1>
        {% csrf_token %}
        <div class="row">
          <label for="description" class="col-sm-2 label">品名</label>
          <div class="col-sm-10 form-inline">
            {{ form.description }}
        </div>
        </div>

        <div class="row">
          <label for="category" class="col-sm-2 label">カテゴリ</label>
          <div class="col-sm-10 form-inline">
            {{ form.s_category }}
        </div>
        </div>

        <div class="row">
          <label for="money" class="col-sm-2 label">金額</label>
          <div class="col-sm-10 form-inline">
            {{ form.money }}
        </div>
        </div>

        <div class="row">
          <label for="day" class="col-sm-2 label">日付</label>
          <div class='col-sm-10 form-inline'>
            {{ form.useday }}
          </div>
        </div>
      
      <div class="row">
        <label for="note" class="col-sm-2 label">メモ</label>
        <div class="col-sm-10 form-inline">
          {{ form.note }}
      </div>
      </div>
      <button class="btn btn-info col-sm-2" type="submit" role="button">登録</button>
      </form>
      </div>
      
      
    
    <!--収入-->
    <div id="income" class="tab-pane">
      <form class="form-horizontal">
        <h1 class="title">収入を入力</h1>
        <div class="row">
          <label for="money" class="col-sm-2 label">金額</label>
          <div class="col-sm-10 form-inline">
          <input type="text" class="form-control" id="money" size="50">
        </div>
        </div>
        <div class="row">
          <label for="category" class="col-sm-2 label">カテゴリ</label>
          <div class="col-sm-10 form-inline">
          <input type="text" class="form-control" id="category" size="50">
        </div>
        </div>
        <div class="row">
          <label for="day" class="col-sm-2 label">日付</label>
          <div class='col-sm-10 form-inline'>
              <input type='text' class="form-control" id='datetimepicker4' size="50">
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker4').datetimepicker();
              });
          </script>
      </div>
        <div class="row">
          <label for="note" class="col-sm-2 label">メモ</label>
          <div class="col-sm-10 form-inline">
          <input type="text" class="form-control" id="note" size="50">
        </div>
        </div>
        <button class="btn btn-info col-sm-2" type="submit" role="button">登録</button>
      </form>
    </div>
    
</div> 
</div>
{% endblock content %}